<div id="resultsMainDiv" class="container-fluid">
  </br>
  <div class="col-md-offset-2 col-md-8 text-center">
    
    <div class="panel panel-primary">

      <div class="panel-heading">
        <%= image_tag("logo.png", :alt => "Homeloop") %>
      </div>

      <div class="panel-default container-fluid">

        <h4 class="surround-text custom-padding">Results</h4>

        <div class="row custom-padding">
          <div class="col-md-6">
            <table class="table table-bordered col-md-6">
              <thead>
                <tr class="active">
                  <th>ID</th>
                  <th>Price</th>
                  <th>Area (m2)</th>
                  <th>Rooms</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <% @occurences.each do |trs| %>
                  <tr>
                    <td><%= trs.id %></td>
                    <td><%= trs.price %></td>
                    <td><%= trs.area %></td>
                    <td><%= trs.rooms %></td>
                    <td><%= trs.date.to_date %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>

          <div class="col-md-6">
            <div id="mapHolder" style='height: 400px;'></div>
          </div>
        </div>

        <%= button_to "Search again", home_path, method: :get, class: "btn btn-primary" %>
      </div>

      <p class="issue-text">Any issue? Contact tech@homeloop.fr</p>
    </div>
  </div>
  <p id="markersList" style="display:none;"><%= raw @hash.to_json %></p>
</div>